In [29]:
import csv

In [2]:
open_file = open('student data.csv' , mode = 'r')
open_file

In [3]:
read = csv.reader(open_file)
read

In [4]:
data = list(read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [5]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [7]:
std_data = data[1:]
std_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

Average of Physics Marks

In [11]:
phy_marks = []
for i in range (0,len(std_data)-1):
    phy_marks.append(float(std_data[i][3]))

In [12]:
phy_marks

[23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 55.0,
 61.0,
 88.0,
 56.0,
 89.0,
 45.0,
 92.0,
 36.0,
 78.0,
 56.0,
 78.0,
 89.0,
 56.0,
 33.0,
 78.0]

In [13]:
avg_physics = sum(phy_marks)/len(phy_marks)
avg_physics

65.46938775510205

Average Maths Marks

In [16]:
math_marks = []
for i in range (0,len(std_data)-1):
    math_marks.append(float(std_data[i][4]))

In [17]:
math_marks

[87.0,
 88.0,
 89.0,
 90.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 78.0,
 45.0,
 46.0,
 89.0,
 78.0,
 56.0,
 78.0,
 54.0,
 78.0,
 46.0,
 79.0,
 46.0,
 45.0]

In [18]:
avg_math = sum(math_marks)/len(math_marks)
avg_math

77.79591836734694

In [20]:
for i in range (0,len(std_data)-1):
    percentage = round(((float(std_data[i][2]) + float(std_data[i][3]) + float(std_data[i][4]))/300*100),1)
    std_data[i].append(percentage)

In [21]:
std_data

[['101', 'Aliza', '50', '23', '87', 53.3],
 ['102', 'Fareed', '45', '24', '88', 52.3],
 ['103', 'Basit', '46', '25', '89', 53.3],
 ['104', 'Abdullah', '47', '26', '90', 54.3],
 ['105', 'Ali', '48', '27', '67', 47.3],
 ['106', 'Mubashir', '49', '28', '68', 48.3],
 ['107', 'Waleed', '50', '29', '69', 49.3],
 ['108', 'Mansoor', '51', '30', '70', 50.3],
 ['109', 'Zain', '52', '31', '71', 51.3],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.7],
 ['136', 'Lubna', '79', '61', '98', 79.3],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.7],
 ['139', 'Ali', '82', '89', '46', 72.3],
 ['140', 'Aiza', '83', '45', '89', 72.3],
 ['141', 'Aiman', '84', '92', '78', 84.7],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.7],
 ['144', 'Laraib', '87', '56', '54', 65.7],
 ['145', 'Saleem', '88', '78', '78', 81.3],
 ['146', 'Bismil', '89', '89', '46', 74.7],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.7],
 ['149', 'Zarnish', '92', '78', '45', 71.7],
 ['150', 'Zara', '83', '45', '56']]

In [22]:
data[0].append('Percentage')

In [23]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage'],
 ['101', 'Aliza', '50', '23', '87', 53.3],
 ['102', 'Fareed', '45', '24', '88', 52.3],
 ['103', 'Basit', '46', '25', '89', 53.3],
 ['104', 'Abdullah', '47', '26', '90', 54.3],
 ['105', 'Ali', '48', '27', '67', 47.3],
 ['106', 'Mubashir', '49', '28', '68', 48.3],
 ['107', 'Waleed', '50', '29', '69', 49.3],
 ['108', 'Mansoor', '51', '30', '70', 50.3],
 ['109', 'Zain', '52', '31', '71', 51.3],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.7],
 ['136', 'Lubna', '79', '61', '98', 79.3],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.7],
 ['139', 'Ali', '82', '89', '46', 72.3],
 ['140', 'Aiza', '83', '45', '89', 72.3],
 ['141', 'Aiman', '84', '92', '78', 84.7],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.7],
 ['144', 'Laraib', '87', '56', '54', 65.7],
 ['145', 'Saleem', '88', '78', '78', 81.3],
 ['146', 'Bismil', '89', '89', '46', 74.7],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.7],
 ['149', 'Zarnish', '92', '78', '45', 71.7],
 ['150', 'Zara', '83', '45', '56']]

In [25]:
for i in range (0,len(std_data)-1):
    if std_data[i][5] > 80:
        std_data[i].append("A+")
    elif std_data[i][5] < 80 and std_data[i][5] > 70:
        std_data[i].append("A")
    elif std_data[i][5] < 70 and std_data[i][5] > 60:
        std_data[i].append("B")
    elif std_data[i][5] < 60 and std_data[i][5] > 50:
        std_data[i].append("C")
    else:
        std_data[i].append("Fail")

In [26]:
std_data

[['101', 'Aliza', '50', '23', '87', 53.3, 'C'],
 ['102', 'Fareed', '45', '24', '88', 52.3, 'C'],
 ['103', 'Basit', '46', '25', '89', 53.3, 'C'],
 ['104', 'Abdullah', '47', '26', '90', 54.3, 'C'],
 ['105', 'Ali', '48', '27', '67', 47.3, 'Fail'],
 ['106', 'Mubashir', '49', '28', '68', 48.3, 'Fail'],
 ['107', 'Waleed', '50', '29', '69', 49.3, 'Fail'],
 ['108', 'Mansoor', '51', '30', '70', 50.3, 'C'],
 ['109', 'Zain', '52', '31', '71', 51.3, 'C'],
 ['110', 'Mohsin', '53', '67', '72', 64.0, 'B'],
 ['111', 'Shahmeer', '54', '68', '73', 65.0, 'B'],
 ['112', 'Rao', '55', '69', '74', 66.0, 'B'],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0, 'B'],
 ['114', 'Zeeshan', '57', '71', '76', 68.0, 'B'],
 ['115', 'Hamna', '58', '72', '77', 69.0, 'B'],
 ['116', 'Hamza', '59', '73', '78', 70.0, 'Fail'],
 ['117', 'Khalid', '60', '74', '79', 71.0, 'A'],
 ['118', 'Behroz', '61', '75', '80', 72.0, 'A'],
 ['119', 'Justin', '62', '76', '81', 73.0, 'A'],
 ['120', 'Danish', '63', '77', '82', 74.0, 'A'],
 ['121', 'Kainat', '64', '78', '83', 75.0, 'A'],
 ['122', 'Sameer', '65', '79', '84', 76.0, 'A'],
 ['123', 'Raza', '66', '80', '85', 77.0, 'A'],
 ['124', 'Kumar', '67', '81', '86', 78.0, 'A'],
 ['125', 'Komal', '68', '82', '87', 79.0, 'A'],
 ['126', 'Erum', '69', '83', '88', 80.0, 'Fail'],
 ['127', 'Faiza', '70', '84', '89', 81.0, 'A+'],
 ['128', 'Saeed', '71', '85', '90', 82.0, 'A+'],
 ['129', 'Waqar', '72', '86', '91', 83.0, 'A+'],
 ['130', 'Wali', '73', '87', '92', 84.0, 'A+'],
 ['131', 'Wajid', '74', '88', '93', 85.0, 'A+'],
 ['132', 'Waseeb', '75', '89', '94', 86.0, 'A+'],
 ['133', 'Shiza', '76', '90', '95', 87.0, 'A+'],
 ['134', 'Shabina', '77', '91', '96', 88.0, 'A+'],
 ['135', 'Shazain', '78', '55', '97', 76.7, 'A'],
 ['136', 'Lubna', '79', '61', '98', 79.3, 'A'],
 ['137', 'Laiba', '80', '88', '78', 82.0, 'A+'],
 ['138', 'Khursheed', '81', '56', '45', 60.7, 'B'],
 ['139', 'Ali', '82', '89', '46', 72.3, 'A'],
 ['140', 'Aiza', '83', '45', '89', 72.3, 'A'],
 ['141', 'Aiman', '84', '92', '78', 84.7, 'A+'],
 ['142', 'Yasmeen', '85', '36', '56', 59.0, 'C'],
 ['143', 'Tasbeel', '86', '78', '78', 80.7, 'A+'],
 ['144', 'Laraib', '87', '56', '54', 65.7, 'B'],
 ['145', 'Saleem', '88', '78', '78', 81.3, 'A+'],
 ['146', 'Bismil', '89', '89', '46', 74.7, 'A'],
 ['147', 'Batool', '90', '56', '79', 75.0, 'A'],
 ['148', 'Iqra', '91', '33', '46', 56.7, 'C'],
 ['149', 'Zarnish', '92', '78', '45', 71.7, 'A'],
 ['150', 'Zara', '83', '45', '56']]

In [27]:
data[0].append('Grade')
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Grade'],
 ['101', 'Aliza', '50', '23', '87', 53.3, 'C'],
 ['102', 'Fareed', '45', '24', '88', 52.3, 'C'],
 ['103', 'Basit', '46', '25', '89', 53.3, 'C'],
 ['104', 'Abdullah', '47', '26', '90', 54.3, 'C'],
 ['105', 'Ali', '48', '27', '67', 47.3, 'Fail'],
 ['106', 'Mubashir', '49', '28', '68', 48.3, 'Fail'],
 ['107', 'Waleed', '50', '29', '69', 49.3, 'Fail'],
 ['108', 'Mansoor', '51', '30', '70', 50.3, 'C'],
 ['109', 'Zain', '52', '31', '71', 51.3, 'C'],
 ['110', 'Mohsin', '53', '67', '72', 64.0, 'B'],
 ['111', 'Shahmeer', '54', '68', '73', 65.0, 'B'],
 ['112', 'Rao', '55', '69', '74', 66.0, 'B'],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0, 'B'],
 ['114', 'Zeeshan', '57', '71', '76', 68.0, 'B'],
 ['115', 'Hamna', '58', '72', '77', 69.0, 'B'],
 ['116', 'Hamza', '59', '73', '78', 70.0, 'Fail'],
 ['117', 'Khalid', '60', '74', '79', 71.0, 'A'],
 ['118', 'Behroz', '61', '75', '80', 72.0, 'A'],
 ['119', 'Justin', '62', '76', '81', 73.0, 'A'],
 ['120', 'Danish', '63', '77', '82', 74.0, 'A'],
 ['121', 'Kainat', '64', '78', '83', 75.0, 'A'],
 ['122', 'Sameer', '65', '79', '84', 76.0, 'A'],
 ['123', 'Raza', '66', '80', '85', 77.0, 'A'],
 ['124', 'Kumar', '67', '81', '86', 78.0, 'A'],
 ['125', 'Komal', '68', '82', '87', 79.0, 'A'],
 ['126', 'Erum', '69', '83', '88', 80.0, 'Fail'],
 ['127', 'Faiza', '70', '84', '89', 81.0, 'A+'],
 ['128', 'Saeed', '71', '85', '90', 82.0, 'A+'],
 ['129', 'Waqar', '72', '86', '91', 83.0, 'A+'],
 ['130', 'Wali', '73', '87', '92', 84.0, 'A+'],
 ['131', 'Wajid', '74', '88', '93', 85.0, 'A+'],
 ['132', 'Waseeb', '75', '89', '94', 86.0, 'A+'],
 ['133', 'Shiza', '76', '90', '95', 87.0, 'A+'],
 ['134', 'Shabina', '77', '91', '96', 88.0, 'A+'],
 ['135', 'Shazain', '78', '55', '97', 76.7, 'A'],
 ['136', 'Lubna', '79', '61', '98', 79.3, 'A'],
 ['137', 'Laiba', '80', '88', '78', 82.0, 'A+'],
 ['138', 'Khursheed', '81', '56', '45', 60.7, 'B'],
 ['139', 'Ali', '82', '89', '46', 72.3, 'A'],
 ['140', 'Aiza', '83', '45', '89', 72.3, 'A'],
 ['141', 'Aiman', '84', '92', '78', 84.7, 'A+'],
 ['142', 'Yasmeen', '85', '36', '56', 59.0, 'C'],
 ['143', 'Tasbeel', '86', '78', '78', 80.7, 'A+'],
 ['144', 'Laraib', '87', '56', '54', 65.7, 'B'],
 ['145', 'Saleem', '88', '78', '78', 81.3, 'A+'],
 ['146', 'Bismil', '89', '89', '46', 74.7, 'A'],
 ['147', 'Batool', '90', '56', '79', 75.0, 'A'],
 ['148', 'Iqra', '91', '33', '46', 56.7, 'C'],
 ['149', 'Zarnish', '92', '78', '45', 71.7, 'A'],
 ['150', 'Zara', '83', '45', '56']]

In [37]:
open_file = open("Assignment 8.csv", mode='w', newline='')
open_file

In [38]:
write = csv.writer(open_file)
write

In [39]:
write.writerows(data)

In [40]:
open_file.close()